/* loginPage.css */
.login-title{
  text-align: center;
  margin-top: 10px;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--button--color);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 20px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

::placeholder {
  padding-left: 5px; 
}

button {
  padding: 10px 20px;
  background-color: var(--button--color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
