/*footer.css*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
}

body {
  display: flex;
}

.content {
  flex: 1;
}
.footer-infos{
  display: flex;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  min-height: 50px;
  padding: 10px;
  background-color: #f0f0f0;
}

