
.sidebar {
  width: 15%;
  position: fixed;
  padding: 20px;
  border-right: 1px solid var(--primary--color);
}

.sidebar_title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  margin-top: 20px; /* Ajustez selon vos besoins */
}

.category {
  margin-bottom: 10px; /* Ajustez selon vos besoins */
}

.category a {
  text-decoration: none;
  color: #333; /* Couleur des liens */
}

.category a:hover {
  color: #666; /* Couleur des liens au survol */
}
