.categorie h2{
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  background-color: var(--light--color);
  padding:20px;
}
.sidebar {
  width: 12%;
  position: fixed;
  margin: 10px;
  border-right: 1px solid var(--primary--color);
}

.sidebar_title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category a {
  text-decoration: none;
  color: #333; 
}

.category a:hover {
  color: #666; /* Couleur des liens au survol */
}
