
.home h1{
  text-align: center;
  margin: 40px;
}
.home_gallery {
display: flex;
justify-content: space-evenly;
align-items: center;
}

.home_img {
  position: relative;
  width: 30%; /* Ajustez la largeur en fonction de votre mise en page */
}

.home_img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}

.home_img_text span {
  display: block; /* Pour que le texte prenne toute la largeur */
}

.home_img img {
  display: block; /* Pour éviter tout espace autour de l'image */
  width: 100%; /* Pour remplir entièrement le conteneur */
}
.home_infos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
